body{
    height: 100%;
    margin: 0;
    background: lightgray;
    background-color: #466995;
    font-family: 'Poppins', sans-serif;
}

.myForm{
    background-color: rgba(0,0,0,0.5) !important;
    padding: 15px !important;
    border-radius: 15px !important;
    color: white;
}

input{
    border-radius:0 15px 15px 0 !important;
}
input:focus{
    outline: none;
    box-shadow:none !important;
    border:1px solid #ccc !important;
}

.br-15{
    border-radius: 15px 0 0 15px !important;
}

.submit_btn{
    border-radius: 15px !important;
    background-color: gray !important;
    border: 0 !important;
    margin: auto;
    width: 200px;
}

a {
    text-decoration: none;
    color: white;
} 
