<!DOCTYPE html>
<html>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
  <head>
    <title>Covalent</title>
    <link href="./static/css/index.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="topnav navbar-dark bg-primary">
          <img id="Covalentlogo" src="https://i.ibb.co/PQfmCM7/IMG-6-A1-AD6-B31015-1.jpg" alt="Covalent Logo">
          <a id="Home" href='index'><strong>Home</strong></a>
          {% if not loggedIn %}
          <a id="LoginSignup" href="login"><strong>Login/Signup</strong></a>
          {% endif %}
          {% if loggedIn %}
          <a id="Connect" href="connect"><strong>Connect</strong></a>
          <a id="Logout" href="logout"><strong>Logout</strong></a>
          {% endif %}
      </div>
    </header>
    
    <div class = "Welcome">
      <h1><strong>Covalent</strong></h1>
      <h2>Networking Made Simple</h2>
    </div>
    
    <div class = "Description">
      <h3 id="mission">Our Mission</h3>
        <p>
          In the midst of the COVID-19 pandemic,
          most colleges and universities have decided
          to go remote. Even in the schools that haven't,
          some students have decided to go remote in fear
          of contracting and spreading the virus. One of
          the key benefits of going to college is the 
          ability to meet others and network. With the move 
          from in-person education to remote learning, it 
          has become significantly harder for students to 
          meet new friends. Our goal was to create an 
          environment where people can meet others from 
          their school and classes and potentially create 
          lifelong friendships.
        </p>
        <hr>
      <h4><strong>Find Friends</strong></h4>
      <p>
        Find new friends based on your courses, location, personality, and school.
      </p>
      <hr>
      <h4><strong>Team Builder</strong></h4>
        <p>
          Using natural language processing, we can give you an optimal work team.
        </p>
        <hr>
    </div>
    
    <h3 id="dev">Development Team</h3>
    <div class="row">
      {% for i in range(4) %}
      <!-- Team member -->
      <div class="col-xs-24 col-sm-12 col-md-3">
          <div class="image-flip" >
              <div class="mainflip flip-0">
                  <div class="frontside">
                      <div class="card">
                          <div class="card-body text-center">
                              <p><img class=" img-fluid" src= "{{ devPictures[i] }}" alt="card image"></p>
                              <h3 class="card-title"> {{ devTeam[i]["name"] }} </h3>
                              <h5 class="card-text"> {{ devTeam[i]["contact"] }} </h5>
                              <h7 class="card-text"> {{ devTeam[i]["role"]}} </h7>
                          </div>
                      </div>
                  </div>
                  <div class="backside">
                      <div class="card">
                          <div class="card-body text-center mt-2">
                              <h4 class="card-title">{{ devTeam[i]["name"] }}</h4>
                              <h5> Biography: {{ devTeam[i]['description'] }} </h5>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      {% endfor %}
      <!-- ./Team member -->

  </div>  

  </body>
  <footer>
    <p>@2020 Copyright. Covalent. Non Profit Organization</p>
    <a href="#mission"> About Us </a>
    <a href="#team"> The Team</a>
  </footer>
</html>