<!DOCTYPE html>
<html>
  <head>
    <title>Covalent</title>
  </head>
  <body>
    <a href="login.html">Login</a>
    <a href="signup.html">Signup</a>
    <h1>Covalent</h1>
    <h2>Networking Made Simple</h2>
    <div>
      <div>
        <h3>Our Mission</h3>
        <p>In the midst of the COVID-19 pandemic,
          most colleges and universities have decided
          to go remote. <br>Even in the schools that haven't,
          some students have decided to go remote in fear
          of contracting and spreading the virus. <br>One of
          the key benefits of going to college is the 
          ability to meet others and network. <br>With the move 
          from in-person education to remote learning, it 
          has become significantly harder for students to 
          meet new friends. <br>Our goal was to create an 
          environment where people can meet others from 
          their school and classes and potentially create 
          lifelong friendships.</p>
      </div>
      <h3>Team</h3>
      <h3>Contact</h3>
    </div>
  </body>
  <footer>
    <p>@2020 Copyright</p>
  </footer>
</html>