<!DOCTYPE html>
<html>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <head>
    <title>Covalent</title>
    <link href="./static/css/index.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <ul>
        <li class= "Logo"><strong>Home</strong></li>
        <li><a href="login"><strong>Login</strong></a></li>
        <li><a href="signup"><strong>Signup</strong></a></li>
        <li><a href="logout"><strong>Logout</strong></a></li>
      </ul>
    </header>
    
    <div class = "Welcome">
      <h1><strong>Covalent</strong></h1>
      <h2>Networking Made Simple</h2>
    </div>
    
    <div class = "Description">
      <h3>Our Mission</h3>
        <p>
          In the midst of the COVID-19 pandemic,
          most colleges and universities have decided
          to go remote. Even in the schools that haven't,
          some students have decided to go remote in fear
          of contracting and spreading the virus. One of
          the key benefits of going to college is the 
          ability to meet others and network. With the move 
          from in-person education to remote learning, it 
          has become significantly harder for students to 
          meet new friends. Our goal was to create an 
          environment where people can meet others from 
          their school and classes and potentially create 
          lifelong friendships.
        </p>
      <h4><strong>Find Friends</strong></h4>
      <p>
        Find new friends based on your courses, location, personality, and school.
      </p>
      <h4><strong>Team Builder</strong></h4>
        <p>
          Using natural language processing, we can give you an optimal work team.
        </p>
      <h4><strong>Chat Application</strong></h4>
        <p>
          Message other people on our website!
        </p>
    </div>
    
    <div class = "DevInfo">
      <h3>Team</h3>
      <div class="box">
        <div class="box-part text-center">  
          <img class="profile" src="https://www.bxsml.org/images/james.png" alt=""/>
          <div class="title">
            <h2>James Chu</h2>
          </div>        
          <div class="text">
            <span>Front and Back End Developer</span>
          </div>  
        </div>
        <div class="box-part text-center">  
          <img class="profile" src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?h=350&auto=compress&cs=tinysrgb" alt=""/>
          <div class="title">
            <h2>Winson Chen</h2>
          </div>        
          <div class="text">
            <span>Front End Developer</span>
          </div>  
        </div>
        <div class="box-part text-center">  
          <img class="profile" src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?h=350&auto=compress&cs=tinysrgb" alt=""/>
          <div class="title">
            <h2>Aaron Zheng</h2>
          </div>        
          <div class="text">
            <span>Back End Developer</span>
          </div>  
        </div>
        <div class="box-part text-center">  
          <img class="profile" src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?h=350&auto=compress&cs=tinysrgb" alt=""/>
          <div class="title">
            <h2>Winston Cai</h2>
          </div>        
          <div class="text">
            <span>Motivational Speaker</span>
          </div>  
        </div>
      </div>
    </div>
  </body>

  <footer>
    <p>@2020 Copyright. Covalent. Non Profit Organization</p>
  </footer>
</html>
</html>