<html>

<head>
    <link href="./static/css/survey.css" rel="stylesheet">
    <title>
        Survey
    </title>
</head>

<body>
    <div class="questionnaire">
        <h1>Survey</h1>
        
        <form action="/survey" method="POST">
            <div class="option">
                    <label>Tell us about yourself (1,000 character max)</label>
                <br>
                <textarea name="description" maxlength="1000" rows=5 cols=50 required></textarea>
            </div>
            <div class="option">
                <label>
                    <span>Which state do you live in?</span>
                    <br>
                    <input type="text" name="state" required />
                </label>

            </div>
            <div class="option">
                <label>
                    <span>Which city do you live in?</span>
                    <br>
                    <input type="text" name="city" required />
                </label>
            </div>
            <div class="option">
                <label>
                    <span>Which school do you attend?</span>
                    <br>
                    <input type="text" name="school" required />
                </label>
            </div>
            <div class="option">
                <label>
                    <span>What classes do you take?</span>
                    <br>
                    <input type="text" name="classes" required />
                </label>
            </div>
            <div class="button">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</body>

</html>