<html>

<head>
    <title>
        Survey Page
    </title>
    <link href="./static/css/style.css" rel="stylesheet">
</head>

<body>
    <h1>Survey Page</h1>
    <form action='/login' method='POST'>
        <label for 'description'>Tell us about yourself in a paragraph (1,000 characters max):</label><br>
        <textarea maxlength='1000' rows=5 cols=35 name='description'> </textarea>

        <label for="Location">What state do you reside in?</label>

        <label for="School">What state do you reside in?</label>

        <label for="Location">What state do you reside in?</label>

        <label for="Classes">What state do you reside in?</label>
    </form>

</body>

</html>